<!--this file is available to all files where partial is used so changes here will reflect in all -->

<!--navigation provided to go on other page-->
<header>
    <h1>{{title}}</h1>
    
    <a href="/">Weather</a> <!--for going to home page i.e index.hbs-->
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>
