body{
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
} 

.main-content{
    flex-grow: 1;
}
footer{
    color: #888888;
    border-top:1px solid #eeeeee;
    padding: 16px 0; /* padding puts space inside of the block*/
    margin-top: 16px; /*puts space btw the things outside of the block and the block itself*/
}
header{
    margin-top: 16px;
    margin-bottom: 48px;
}
h1{
    font-size: 64px;
    margin-bottom: 16px;
}
header a{ /*header used coz we just want to change the style of nagivation items only and not of every link on the site*/
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}
.portrait{
    width: 250px;
}
input{
    border: 1px solid #cccccc;
    padding: 8px;
}
button{
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}